<?php

// variaveis de ambiente para conexao do banco de dados 
putenv("DBHOST=coloque aqui o ip do servidor, geralmente localhost");
putenv("DBPORT=coloque aqui a porta do servidor postgres, geralmente 5432");
putenv("DBNAME=coloque aqui o nome da conexao do banco de dados");
putenv("DBUSER=coloque aqui o nome do usuario do banco de dados");
putenv("DBPASS=coloque aqui a senha do banco de dados");

//variaveis de ambiente do email
putenv("MAILUSER=coloque aqui o usuario do email");
putenv("MAILPASS=coloque aqui a senha do email");
